.wrap {
	text-align: center;
}

.table

			{margin:0 auto;
			color:#33001a;
		font-weight: bold;
		font-family: "Calibri";
		text-align: center;
		border-spacing: 5px;
		border-color: purple;
		margin-top: 100px;
		background-color: white;
 }

 

 #olovka {position:relative;
 		top:35px;
 		left:10px;}

#tablename
{padding-bottom:50px;
}

	#x
	{background-color:white; }
	#tablica
	{background-color: white;
		}
		

